<div class="col-md-4 mb-8">
    <p>Step-1:</p>
    <div class="custom-dropdown">
        
    <select class="form-control">
        <option selected>Select Dispatch Week:</option>
        <option value="1">April week1 2024</option>
        <option value="2">April week2 2024</option>
        <option value="3">April week3 2024</option>
        <option value="4">April week4 2024</option>
        <option value="5">May week1 2024</option>
        <option value="6">May week2 2024</option>
    </select>
    </div>
</div>

</form>